
@{
    ViewBag.Title = "Index";
}

<div class="content-push">

    <div class="breadcrumb-box">
        <a href="#">Home</a>
        <a href="#">Portfolio Fullwidth</a>
    </div>

    <div class="information-blocks">
        <div class="portfolio-container type-2">
            <div class="portfolio-navigation">
                <div class="links-drop-down">
                    <div class="title">Select</div>
                    <div class="list">
                        <a class="filter-button active" data-filter="*">All</a>
                        <a class="filter-button" data-filter=".filter-1">Hipster</a>
                        <a class="filter-button" data-filter=".filter-2">Photography</a>
                        <a class="filter-button" data-filter=".filter-3">Casual</a>
                        <a class="filter-button" data-filter=".filter-4">Nature</a>
                    </div>
                </div>
            </div>
            <div class="wide-container filter-container">
                <div class="portfolio-entry filtergrid-sizer"></div>
                <div class="portfolio-entry filter-item filter-1">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-1.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-2">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-2.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-3">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-3.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-4">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-4.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-1">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-5.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-2">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-6.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-3">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-7.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-4">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-8.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-1">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-9.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-2">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-10.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-3">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-11.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-4">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-12.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-1">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-13.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-2">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-14.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
                <div class="portfolio-entry filter-item filter-3">
                    <div class="image">
                        <img alt="" src="~/images/site/portfolio-15.jpg" />
                        <div class="hover-layer">
                            <div class="info">
                                <div class="actions">
                                    <a class="action-button open-image" href="#"><i class="fa fa-search"></i></a>
                                    <a class="action-button" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-drop-down">
                        <a class="title" href="#">Coffee &amp; Cookie Time</a>
                        <div class="subtitle">24 May 2014 <span class="comments-number">0 comments</span></div>
                        <div class="description">Lorem ipsum dolor sit amet, elit consectetur adipiscing, eiusmod tempor labore.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-wrapper style-10">
        <footer class="type-1">
            <div class="footer-columns-entry">
                <div class="row">
                    <div class="col-md-3">
                        <img class="footer-logo" src="~/images/site/logo-9.png" alt="" />
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-address">
                            30 South Avenue San Francisco<br />
                            Phone: +78 123 456 789<br />
                            Email: <a href="mailto:Support@blanco.com">Support@blanco.com</a><br />
                            <a href="https://www.8theme.com/index.php"><b>www.inmedio.com</b></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-3">
                        <h3 class="column-title">Company working hours</h3>
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-description">
                            <b>Monday-Friday:</b> 8.30 a.m. - 5.30 p.m.<br />
                            <b>Saturday:</b> 9.00 a.m. - 2.00 p.m.<br />
                            <b>Sunday:</b> Closed
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-navigation">
                <div class="cell-view">
                    <div class="footer-links">
                        <a href="#">Site Map</a>
                        <a href="#">Search</a>
                        <a href="#">Terms</a>
                        <a href="#">Advanced Search</a>
                        <a href="#">Orders and Returns</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="copyright">Created with by <a href="#">8theme</a>. All right reserved</div>
                </div>
                <div class="cell-view">
                    <div class="payment-methods">
                        <a href="#"><img src="~/images/site/payment-method-1.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-2.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-3.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-4.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-5.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-6.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>