@{
    ViewBag.Title = "About";
}

<div class="content-push">

    <div class="breadcrumb-box">
        <a href="#">Home</a>
        <a href="#">About Us</a>
    </div>

    <div class="information-blocks">
        <img class="project-thumbnail" src="~/images/site/about-1.jpg" alt="" />
        <div class="row">
            <div class="col-md-4 information-entry">
                <div class="article-container style-1">
                    <h2>Which of us ever undertakes laborious physical exercise, except to obtain.</h2>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences</p>
                    <a class="continue-link" href="#">Continue reading <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <h3 class="block-title">Company Informations</h3>
                <div class="article-container style-1">
                    <h5><i class="fa fa-calculator"></i> Premium UK delivery</h5>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-scissors"></i> Tailoring for free</h5>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-desktop"></i> Online Ordering</h5>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster</p>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <div class="accordeon">
                    <div class="accordeon-title active">How do I use a promotional code?</div>
                    <div class="accordeon-entry" style="display: block;">
                        <div class="article-container style-1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                    <div class="accordeon-title">Is there any possibility to ship my order?</div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                        </div>
                    </div>
                    <div class="accordeon-title">Where are you from? <span class="inline-label red">popular</span></div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                    <div class="accordeon-title">How do I use a promotional code?</div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-4 information-entry">
                <h3 class="block-title inline-product-column-title">Featured products</h3>
                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-1.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-2.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="inline-product-entry">
                    <a href="#" class="image"><img alt="" src="~/images/site/product-image-inline-3.jpg"></a>
                    <div class="content">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-wrapper style-10">
        <footer class="type-1">
            <div class="footer-columns-entry">
                <div class="row">
                    <div class="col-md-3">
                        <img class="footer-logo" src="~/images/site/logo-9.png" alt="" />
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-address">
                            30 South Avenue San Francisco<br />
                            Phone: +78 123 456 789<br />
                            Email: <a href="mailto:Support@blanco.com">Support@blanco.com</a><br />
                            <a href="https://www.8theme.com/index.php"><b>www.inmedio.com</b></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h3 class="column-title">Our Services</h3>
                        <ul class="column">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-3">
                        <h3 class="column-title">Company working hours</h3>
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-description">
                            <b>Monday-Friday:</b> 8.30 a.m. - 5.30 p.m.<br />
                            <b>Saturday:</b> 9.00 a.m. - 2.00 p.m.<br />
                            <b>Sunday:</b> Closed
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-navigation">
                <div class="cell-view">
                    <div class="footer-links">
                        <a href="#">Site Map</a>
                        <a href="#">Search</a>
                        <a href="#">Terms</a>
                        <a href="#">Advanced Search</a>
                        <a href="#">Orders and Returns</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="copyright">Created with by <a href="#">8theme</a>. All right reserved</div>
                </div>
                <div class="cell-view">
                    <div class="payment-methods">
                        <a href="#"><img src="~/images/site/payment-method-1.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-2.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-3.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-4.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-5.png" alt="" /></a>
                        <a href="#"><img src="~/images/site/payment-method-6.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>