
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="sb2-2-2">
    <ul>
        <li>
            <a href="@Url.Action("Index")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> Discount Edit</a>
        </li>
        <li class="page-back">
            <a href="@Url.Action("Index")"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
        </li>
    </ul>
</div>

<div class="sb2-2-add-blog sb2-2-1">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Discount Edit</h4>
            <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
        </div>
        <div class="bor">
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="list-title" type="text" value="Blog Post Name" class="validate">
                        <label for="list-title">Discount Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="post-auth" type="text" value="$240" class="validate">
                        <label for="post-auth">Discount Price</label>
                    </div>
                    <div class="input-field col s12">
                        <div class="file-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload Blog Banner">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</textarea>
                        <label for="textarea1">Blog Descriptions:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select multiple>
                            <option value="" disabled selected>Choose Category</option>
                            <option value="1">Hotels</option>
                            <option value="2">Educations</option>
                            <option value="3">Medical</option>
                            <option value="3">Health</option>
                            <option value="3">Fitness</option>
                            <option value="3">Tution</option>
                            <option value="3">Software</option>
                            <option value="3">Wedding</option>
                            <option value="3">Party</option>
                            <option value="3">Spa/Club</option>
                        </select>
                        <label>Select Category</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple>
                            <option value="" disabled selected>Choose Category</option>
                            <option value="1">Hotels</option>
                            <option value="2">Educations</option>
                            <option value="3">Medical</option>
                            <option value="3">Health</option>
                            <option value="3">Fitness</option>
                            <option value="3">Tution</option>
                            <option value="3">Software</option>
                            <option value="3">Wedding</option>
                            <option value="3">Party</option>
                            <option value="3">Spa/Club</option>
                        </select>
                        <label>Select Sub Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>